---
import config from "../config";
import Layout from "../layouts/Layout.astro";
import { checkAuth } from "../lib/checkauth";
import Footer from "../components/Footer";
import Prices from "../components/Prices";
import TransactionTable from "../components/TransactionHistory";
import { MdMoney } from "react-icons/md";
import WCard from "../components/WCard";

export const prerender = false;

if (!Astro.cookies.has(config.authCookieKey)) {
  return Astro.redirect("/sign-in");
}

const authUser = Astro.cookies.get(config.authCookieKey).value;

const isAuth = await checkAuth({
  email: authUser,
});

if (!isAuth) {
  return Astro.redirect("/sign-in");
}

const account = isAuth.user.account;
---

<Layout title={config.appName}>
  <main class="md:ml-[20%] pt-20 md:w-[80%]">
    <Prices client:load auth={isAuth} />

    <div
      class="px-4 pt-8 lg:pt-8 grid grid-cols-12 gap-y-8 lg:gap-y-0 lg:gap-x-8 justify-center items-center"
    >
      <div
        class="p-4 rounded-md col-span-12 lg:col-span-4 bg-bg1 border border-white/50 shadow-md shadow-white/20 self-stretch"
      >
        <div class="">
          <div class="flex flex-col justify-center items-start space-y-2">
            <div
              class="text-xl text-text1 text-center flex flex-row justify-center items-center space-x-4"
            >
              <span class="self-center"> Total Balance</span>

              <MdMoney className="text-2xl self-center" />
            </div>

            <p class="text-2xl lg:text-2xl text-white font-semibold text-left">
              {" "}
              $ {account.balance + account.bonus}
            </p>
          </div>

          <div
            class="self-center w-full flex flex-row justify-start items-center mt-8"
          >
            <WCard client:load account={account} />
          </div>
        </div>
      </div>

      <div
        class="col-span-12 lg:col-span-8 border border-white/50 bg-bg1 rounded-md self-stretch shadow-md shadow-white/20"
      >
        <div class="p-6 rounded-md space-y-6">
          <div class="space-y-2">
            <p class="text-base text-white/80">Total Withdrawal</p>

            <p class="text-2xl font-semibold text-white">
              $ {account.withdrawals}
            </p>
          </div>

          <div class="space-y-2">
            <p class="text-base text-white/80">Total Deposit</p>

            <p class="text-2xl font-semibold text-white">
              $ {account.deposits}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 pt-8 lg:pt-8">
      <h4
        class="text-white/80 whitespace-nowrap table-caption text-xl lg:text-2xl text-left font-semibold pt-4 px-4"
      >
        Transaction History
      </h4>
      <TransactionTable user={isAuth.user} />
    </div>

    <Footer />
  </main>
</Layout>
